body{
    width: 100%;
    background-color: rgb(226, 221, 221);
}
.sex{
margin-left: 10%;
margin-top: 1%;
}
.sex input {
    padding-left: 20px;  
    margin-left: 15px;
}
form{
width: 50%;
    position: absolute; 
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    /* display: grid; 
    grid-template-columns: 100px 1fr;
    padding-top: 2%; */
} 
.form{
        display: grid; 
    grid-template-columns: 100px 1fr;
    padding-top: 2%;



}
.form input{
    width: 85%;
    margin-left: 20px;
    margin-bottom: 2px;
    margin-top: 15px;
}
h1{
    text-align: left;
    margin-bottom: 0px;
    margin-left: 5%;
}
.about{
    width: 84%;
    height: 150px;
    text-align: top;
    margin: 2%;
}
label{
    padding-left: 20%;
    padding-top: 20%;
    text-align: right;


}
.language{
    margin-left: 2.2%;
    margin-top: 1%;
}
.language input{
    padding-left: 20px;  
    margin-left: 15px;
}
.submit{
margin-bottom: 1%;
margin-left: 40%;
margin-top: 2%;


}
#userid, #pass{
    width: 30%;
}
#country{
    width: 40%;
    margin-left: 3.7%;
    margin-top: 2%;
}
#zip{
    width: 35%;
}
.aboutus{
    padding-left: 20px;  
    margin-left: 29px;
}


/* input{
    width: 70%;
    margin-left: 20px;
    margin-bottom: 2px;
    margin-top: 15px;
  
} 
.radio{
    width: 0;
    
}
span{
    display: flex;
}

label{
    padding-left: 20%;
    padding-top: 20%;
    text-align: right;


}
div{
    display: flex;
} */